.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.inputField {
  margin-top: 25px;
}

.listWrapper {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
}

.songList {
  border: 1px solid lightslategray;
  height: 60vh;
  width: 40vw;
  /* padding: 40px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* height: 50vh; */
}
